# this folder will contain the compiled plugins, no need to store it in git
/binaries/

# misc build files on osx
/build/osx/build/
/build/osx/FFGLPlugins.xcodeproj/xcuserdata/*.*
/build/osx/FFGLPlugins.xcodeproj/project.xcworkspace/xcuserdata/*.*
/build/osx/FFGLPlugins.xcodeproj/project.xcworkspace/xcshareddata/*.*

# misc build files on windows
/build/windows/x64
/build/windows/x86
/build/windows/.vs/
*.suo
*.sdf
*.VC.db

# hidden files on osx
.DS_Store
